* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-game-section {
  width: 500px;
  height: 600px;
  padding: 2% 0 1% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.endgame-message {
  text-transform: capitalize;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2%;
}
.game-board {
  width: 420px;
  height: 396px;
  display: flex;
  flex-wrap: wrap;
}
.endgame-button {
  padding: 0.5em 1.2em;
}
.game-cells {
  width: 140px;
  height: 132px;

  border: 1px solid black;
  display: grid;
  place-items: center;
  font-size: 3rem;
}

.cell-left {
  border-left: 0;
}
.cell-right {
  border-right: 0;
}
.cell-bottom {
  border-bottom: 0;
}
.cell-top {
  border-top: 0;
}

.restart-button {
  position: absolute;
  top: 4%;
  right: 40%;
  width: 30px;
}

.restart-button p {
  text-transform: capitalize;
}
